h1{
  color: red;
  font-size: 50px

}
body{
  background-color: beige;
}

#heading{
  font-style: oblique;
  padding-left: 720px;
}
#chrisImage{
    width: 300px;
    margin-left: 100px;
    height: auto;
}
#Chris{
    padding-left: 650px;
    width: 500px;
    margin-left: 100px;

}
#labs{
  padding-left: 850px;
}
#Mike{
  padding-left: 650px;
  width: 500px;
  margin-left: 100px;
}

#mikeImage{
    width: 300px;
    margin-left: 100px;
    height: auto;
}
#border{
  border: solid black;
  border-radius: 15px;
}

#border2{
  border: dotted red;

}
